
body { margin: 0; }
#sidebar, #content { position: absolute; top: 0; left: 0; } 
#sidebar, #content { overflow: auto; padding: 10px; }
#header {
 height: 70px; /* Высота слоя */
 ; border-bottom: 3px solid #ffffff;
}
#header h1 { padding: 20px; margin: 0; }
#sidebar { 
 width: 150px;  border-right: 3px solid #ffffff;
 top: 125px; /* Расстояние от верхнего края */ 
 bottom: 25px; /* Расстояние снизу  */
}
#content {
 top: 135px; /* Расстояние от верхнего края */
 left: 180px; /* Расстояние от левого края */ 
 bottom: 0; right: 0;
}